 * {
    
    border: red solid;
}
html {
    margin:100px;
    background-color: bisque;
}
body {
    
    padding: 100px;
}
#score {
    
    margin-bottom: 20px;
    text-align: center;
}
#button {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}
#rock, #paper, #scissors {
    font-family: 'Times New Roman', Times, serif;
    
    font-weight:900;
    color:brown;
    background-color:coral;
    width: 70px;
    height: 70px;
}